extends layout

block content
	.container
			.text-center
				h2
					i.fa.fa-random
					|&nbsp Steam Shuffle
			.well
				h4
					i.fa.fa-stethoscope

					|&nbsp Symptoms
					br
				|You have 
				b
					|100+ 
				|games you paid for and still playing F2P Team Fortress 2 or other humble indie game. 

				|You're left with couple dozens of new games you haven't event clicked on. From time to time you feel guilty about it and try play something totally different.
			.well
				h4
					i.fa.fa-user-md
					|&nbsp Diagnosis
					br

				|You suffer from 
				b 
					|Steam Sale Syndrome 
				|and you need help!
			.well
				h4
					i.fa.fa-ambulance
					|&nbsp Treatment
				|Don’t waste hours trying to pick something you’d enjoy and leave that to the power of the s h u f f l e!
				br
				|Enjoy steam-sale-guiltless life!
			.well
				h4
					i.fa.fa-medkit
					|&nbsp How to use
				i.fa.fa-sign-in
				|&nbsp Login 
				br
				i.fa.fa-random
				|&nbsp Shuffle 
				br
				i.fa.fa-play
				|&nbsp Play
