extends layout
block content
	.container
		.well.text-center
			if (user_loc)
				h3
					|!{user_loc.displayName} &nbsp
					a(href="#{user_json.profileurl}", style="color: white")
						i.fa.fa-steam-square
				if (steamGames)
					p
						|Your have 
						a(href="/games")
							|!{steamGames.game_count} games.