extends layout

block content
	.container
		.jumbotron
			h3
				if (!user)
					|Steam Shuffle
				else
					|Hi !{user.displayName}
			//- p
			//- 	a.btn.btn-primary.btn-lg(href='#', role='button')
			//- 		|Shuffle!