extends index
block sassy_comment
			if (user)
				- var lib = typeof(result) != 'undefined' ? JSON.parse(result) : { }
				h3
					|!{user.displayName} &nbsp
					a(href="#{user._json.profileurl}", style="color: white")
						i.fa.fa-steam-square
					//- 	|&nbsp  
					//- if (user._json.communityvisibilitystate == 1)		
					//- 		span.label.label-danger
					//- 			|private
					//- else 
					//- 	if (user._json.personastate == 1)
					//- 		span.label.label-success
					//- 			|online
					//- 	if (user._json.personastate == 0)
					//- 		span.label.label-default
					//- 			|offline
				if (result)
					p
						| Your have 
						a(href="/games")
							|!{lib.game_count} games.