img.icon {
	width: 21px;
	height: 21px;
}

span.shuffle {
	letter-spacing: 3px;
}

a, a:hover, a:focus, a:link, a:visited {
	text-decoration: none;
}

td:empty{
}

#index{
	background: url('/images/steamsale.jpg') no-repeat center center fixed;
}